body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    dl,
    dt,
    dd {
      margin: 0;
      padding: 0;
    }

    /* Definir a fonte e o tamanho padrão */
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
    }

    /* Remover decoração de links */
    a {
      text-decoration: none;
    }

    /* Definir a cor padrão dos links */
    a:link,
    a:visited {
      color: #0000ff;
    }

    /* Definir estilos para elementos de formulário */
    input,
    textarea,
    select,
    button {
      font-family: Arial, sans-serif;
    }

    /* Remover estilos de lista padrão */
    ul,
    ol {
      list-style: none;
    }

    body {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 0.9em;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    #video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .parallax-bg {
      position: relative;
      width: 100%;
      height: 700px;
      overflow: hidden;
      background-image: url(./../images/cover.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      /* background-position: 0px -50px; */
    }

    .parallax-content {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -25%);
      text-align: center;
      color: #fff;
    }

    .parallax-content h1 {
      color: #fff;
      font-weight: 400;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .container {
      max-width: 70%;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 1px 25px 20px 25px;
      position: relative;
      z-index: 1;
      background-color: rgba(254, 256, 256, 0.8);
      border-radius: 3px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(8px);
    }

    .negative-margin {
      margin: -100px auto;
    }

    .positive-margin {
      margin: 100px auto;
    }

    .background {
      background-image: url(./../images/folhas.jpeg);
      background-size: cover;
      background-position: bottom bottom;
      background-repeat: y-repeat;
      position: relative;
      bottom: 0;
      left: 0;
      margin-top: -200px;
      width: 100%;
      height: 300px;
      z-index: -1;
    }
    
    .mobile .background {
      height: 550px;
      margin-top: -400px;
    }

    .background-overlay {
      background-color: rgba(256, 256, 256, 0.3);
      backdrop-filter: blur(1px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .mobile .container {
      max-width: 90%;
    }

    img {
      border-radius: 5px;
    }

    h1 {
      font-size: 28px;
      color: #333;
      margin-bottom: 20px;
    }

    h1 > a {
      font-size: 14px;
    }

    .container h1 {
      font-size: 24px;
      font-weight: 400;
      color: #333;
      margin-top: 20px;
      margin-bottom: 0px;
      font-size: 28px;
    }

    h2 {
      font-weight: 300;
      font-size: 150%;
    }

    h3 {
      font-weight: 400;
      font-size: 120%;
      margin-bottom: 5px;
    }

    strong {
      font-size: 20px;
      font-weight: 400;
    }

    p {
      font-size: 120%;
      text-align: justify;
      color: #555;
      margin: 20px 10px;
    }

    .about {
      display: flex;
    }

    .text {
      width: 75%;
    }

    .mobile .text {
      width: 100%;
    }

    .avatar-container {
      width: 20%;
      text-align: right;
      margin: 20px;
    }

    .mobile .avatar-container {
      display: none;
      width: 0%;
      text-align: right;
      margin-bottom: 20px;
    }

    .profile-picture {
      width: 190px;
      height: 190px;
      text-align: center;
      border-radius: 50%;
    }

    /* .mobile .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    } */

    .highlights {
      margin-top: 0px;
    }

    .portifolio ul, .highlights ul {
      font-size: 110%;
      list-style-type: disc;
      margin: 15px 40px 20px;
    }

    .portifolio li, .highlights li {
      font-size: 100%;
      color: #555;
      margin-bottom: 5px;
    }

    a {
      color: #555;
    }

    .container a {
      font-weight: 500;
      text-decoration: none;
      color: #485460;
    }
    
    .container a:hover {
      text-decoration: underline;
      color: #34495e;
    }
    

    .contact {
      margin-top: 30px;
    }

    .contact h2 {
      font-size: 150%;
      color: #333;
      margin-bottom: 10px;
    }

    .contact p {
      font-size: 110%;
      color: #555;
    }

    .photos {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    .photo_article {
      width: 100%;
      text-align: center;
      margin: 10px auto;
    }

    .photo_article img {
      width: 50%;
    }

    .mobile .photo_article img {
      width: 90%;
    }

    .mobile .secound_photo {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 10px;
      /* height: 400px; */
    }

    @import url(./bread_crumb.css);

    /* Estilos CSS para o breadcrumb */
.breadcrumb {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: -30px 0 10px 0;
}

.mobile .breadcrumb {
  margin: 5px 0 10px 0!important;
}

.breadcrumb li {
  margin-right: 10px;
  margin-left: 5px;
}

.breadcrumb li:last-child {
  margin-right: 0;
}

.breadcrumb li a {
  text-decoration: none;
  /* color: #000; */
}

.breadcrumb li a:hover {
  text-decoration: underline;
}